<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficas de Ventas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body style="padding-bottom: 20px;">
    <div class="container">
        <h2 class="mt-4">Gráficas con respecto a las ventas</h2>

        <div class="mt-4">
            {{ grafico_barras|safe }}
        </div>

        <hr>

        <div class="mt-4">
            {{ grafico_dispersion|safe }}
        </div>

        <a href="http://localhost:3001/controlVentas/" class="btn btn-primary mt-4">Regresar a informe</a>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
